@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

section {
    padding: 100px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

h3 {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

p {
    text-align: center;
    font-size: 15px;
}

.mainVisual {
    padding: 0;
}

.vdo {
    width: 100%;
}

.fbox {
    display: flex;
    gap: 30px;
}

.mainTv .fbox figure {
    border-radius: 15px;
    padding: 20px;
    background: #f9f9f9;
}

.mainTv .fbox .option {
    justify-content: center;
    display: flex;
    gap: 10px;
    margin: 0 0 15px 0;
}

.mainTv .fbox .txt {
    text-align: center;
}

.mainTv .fbox .txt p {
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.mainTv .fbox .txt a {
    display: inline-block;
    /* border: 1px solid #444; */
    background: #444;
    color: #fff;
    padding: 7px 20px 9px 20px;
    border-radius: 20px;
    font-size: 15px;
}

.mainTv .fbox .option > div a {
    display: inline-block;
    border: 1px solid #555;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #555;
}

.mainConcept .fbox figure {
    flex: 1;
}

.mainConcept .fbox span {
    position: relative;
    font-size: 35px;
    font-weight: 700;
    margin: auto;
}

.mainConcept .fbox span::before,
.mainConcept .fbox span::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -30px;
    transform: translateY(-50%);
    width: 440px;
    height: 1px;
    background: #000;
}

.mainConcept .fbox span::after {
    top: 90px;
}

.mainConcept .item01 {
    background: url(../img/detail02.jpg) no-repeat center center/cover;
    height: 500px;
}

.mainConcept .item02 {
    margin: auto 0;
}

.mainConcept .item03 {
    background: url(../img/detail01.jpg) no-repeat center center/cover;
    height: 500px;
}
